body {
  font-family: ui-sans-serif;
  font-size: 16px;
  line-height: 1.2;

  color: var(--fg-color);
  background: var(--bg-color);
  margin: 0;
  padding: 0;
}

header {
  font-family: ui-rounded;
  padding: 0;
  nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  a, button {
    display: block;
    padding: 1em 0.5em;
    margin: 0;
    background: inherit;
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.75em;
    text-transform: uppercase;
    color: var(--header-color);

    &:hover {
      color: var(--header-color-hover);
      text-decoration: underline;
      text-decoration-thickness: 0.125em;
    }
  }
}

main {
  width: 100%;
  max-width: 40rem;
  margin: 0 auto 2em;
  background: var(--main-bg-color);
  padding: 1em;
  box-sizing: border-box;
  border-radius: 1em;
  border: 0.0625rem solid var(--main-border-color);
}

.tabular {
  font-family: ui-monospace;
}
.money {
  font-family: ui-monospace;
  text-align: right;
}
th.money {
  font-family: inherit;
}

h2, h3, h4 {
  font-size: 1.2em;
}

h1 {
  margin: 0 0 1em;
  font-size: 1.5em;
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;

  tr:hover td {
    background: var(--highlight-color);
  }

  th {
    font-size: 0.875em;
    text-transform: uppercase;
    text-align: left;
  }

  th.section {
    font-size: 1em;
    padding-top: 1em;
    border-bottom: solid 0.0625em var(--table-divider);
  }
  tr:first-child th.section {
    padding-top: 0;
  }

  tr.divider td, tr.divider th {
    padding: 0.75rem 0 0.25rem;
  }
}

.stats {
  display: flex;
  text-align: center;
  gap: 1em;
  margin: 1em auto;
  justify-content: center;
  flex-wrap: wrap;

  & > div {
    flex: 1 1 10em;
  }

  dt {
    margin: 0;
    font-size: 0.75em;
    font-family: ui-rounded;
    text-transform: uppercase;
  }
  dd {
    margin: 0;
    font-weight: bold;
    &.big {
      font-size: 1.5em;
    }
  }
  ol {
    padding: 0;
    list-style: inside decimal;
  }
}

