#users {
  padding: 0;
  margin: 0;

  li {
    list-style: none;
    margin: 0;
    padding: 0;

    &:last-child a {
      border-bottom: none;
      margin-bottom: 0.125em;
      &:hover {
        border-bottom: 0.0625em solid var(--subsection-border);
        margin-bottom: 0;
      }
    }
  }

  a {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: inherit;
    text-decoration: none;
    padding: 0.4375em 0 0.5em;
    margin: 0 0.625em;
    border: 0.0625em solid transparent;
    border-bottom: 0.0625em solid var(--table-divider);

    &:hover {
      background: var(--subsection-bg);
      position: relative;
      bottom: 0.0625em;
      padding: 0.5em 0.625em 0.5em;
      margin: 0 0 -0.0625em;
      border-radius: 0.5em;
      border: 1px solid var(--subsection-border);
    }

    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
  .email {
    font-size: 0.875em;
    font-style: italic;
  }
  .pill {
    font-size: 0.75em;
    font-family: ui-rounded;
    font-weight: 500;
    text-transform: uppercase;
    text-align: right;

    &.positive { color: var(--positive); }
    &.caution { color: var(--caution); }
  }
}

#user {
  text-align: center;

  h1 {
    font-size: 3em;
    margin: 0;
  }

  .actions {
    justify-content: center;
  }
  pre {
    padding: 1em;
    border: 1px solid var(--code-border);
    border-radius: 0.5em;
    background: var(--code-bg);
    font-size: 0.75em;
    text-align: left;
  }
}
