<main>
  <h1><%= t("transactions.index.title") %></h1>

  <%= render "form", transaction: @transaction, categories: @categories, last_transaction: @last_transaction %>

  <p><a href="<%= params[:return_to].presence || root_path %>"><%= t("transactions.edit.cancel") %></a></p>
</main>
